APP_NAME=URL Shortener
VERSION=0.1.0
DEBUG=true
ENVIRONMENT=development

API_V1_PREFIX=/api/v1

POSTGRES_USER=urlshortener
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=urlshortener

DB_POOL_SIZE=5
DB_MAX_OVERFLOW=5
DB_POOL_TIMEOUT=30